
.board {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 500px;
}

.tile {
  background: grey;
  border-style: inset;
  border-style: outset;
  width: 25px;
  height: 25px; 
}

.tile:hover {
  background: lightgray;
}

.bombed {

}

.revealed  {
  background-color: yellow;
}

.flagged {
  /* background-color: yellow; */

}